
*.class
ch1-arrays-and-strings/QuestionOne/.settings/org.eclipse.jdt.core.prefs
ch1-arrays-and-strings/QuestionOne/.settings/org.eclipse.core.resources.prefs
ch1-arrays-and-strings/QuestionOne/.project
ch1-arrays-and-strings/QuestionOne/.classpath
